@inject BackupsService backupsService

<article class="card mb-2" style="max-width: 50%; flex-grow: 1">
  <div class="card-body">
    <div><i class="mdi mdi-folder fs-5"></i> @directory.Name</div>
    <hr>
    <div class="d-flex justify-content-between">
      <div title="backed up files">
        <i class="mdi mdi-file text-primary"></i>
        @directory.FileCount
      </div>
      <div title="new files">
        <i class="mdi mdi-file-plus text-info"></i>
        @directory.NewFiles.Count
      </div>
      <div title="new files">
        <i class="mdi mdi-file-alert text-warning"></i>
        @directory.ChangedFiles.Count
      </div>
      <div title="missing files">
        <i class="mdi mdi-file-minus text-danger"></i>
        @directory.MissingFiles.Count
      </div>
      <div>
        <button @onclick=@RemoveTrackedDirectory class="btn btn-outline-danger"><i
            class="mdi mdi-delete-forever"></i></button>
      </div>
    </div>
  </div>
</article>

@code {

  [Parameter, Required]
  public DirectoryBackup directory { get; set; }



  public void RemoveTrackedDirectory()
  {
    Console.WriteLine($"[UN-TRACK] {directory.Name}");
    backupsService.RemoveDirectoryFromBackup(directory);
  }
}